.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
}

.content {
  background: #292929;
  padding: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

img {
  height: 300px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #dddddd;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #cccccc;
}

button {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
